.patientDetails-modal{
    width: 90vw;   /* Occupy the 90% of the screen width */
    max-width: 90vw;
}
.sideIcon {
    margin-right: 10px;
}

.ModalTitle{
    color: #020000 !important;
}

.TableData{
    color: #020000;
    font-weight: 10px;
}

.DepressionScore{
    color: green;
}

.IconTrending{
    color: red !important;
}